:root {
  color-scheme: light dark;
  --black: #333;
  --white: #eaeaea;
  --red: #cc0000;
  --yellow: #eebb00;
  --green: #50c878;
  --dark-white: #ddd;
  --light-black: #5f5f5f;
  --font: "Figtree", "Arial", "Helvetica", sans-serif;
}

html {
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.25px;
  line-height: 1.5;
  background-color: light-dark(var(--white), var(--black));
  color: light-dark(var(--black), var(--white));
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  min-height: 100vh;
}

main > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
  padding: 50px 50px 20px 20px;
  position: relative;
}

main > :last-child {
  flex-basis: calc(425px - 50px - 20px);
  flex-grow: 1;
  background-color: light-dark(var(--dark-white), var(--light-black));
  padding: 50px 20px;
  border-left: 2px solid light-dark(var(--black), var(--white));
  overflow-y: scroll;
  max-height: 100vh;
}

@media screen and (max-width: 943px) {
  main > :last-child {
    border-left: 0px solid light-dark(var(--black), var(--white));
    border-top: 2px solid light-dark(var(--black), var(--white));
  }
}

label {
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 500;
  margin: 0;
  padding: 0 0 25px 0;
}

p {
  margin: 0;
  padding: 25px 0 10px 0;
}

a {
  color: inherit;
}

.question {
  display: none;
}

.question.active {
  display: block;
}

input:not(.submit) {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  width: calc(100% - 50px - 20px);
  border-radius: 8px;
  height: 28px;
  border: 2px solid light-dark(var(--black), var(--white));
  padding: 5px 8px;
}

input:focus:not(.submit) {
  outline: none;
}

button.nav {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  opacity: 0.7;
  cursor: pointer;
  margin: 50px 50px 0 0;
}

input.submit {
  position: absolute;
  top: 30px;
  right: 50px;
  outline: none;
  border: 2px solid var(--green);
  border-radius: 8px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
  display: none;
}

input.submit:hover {
  background-color: var(--green);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 500px) {
  button.nav {
    display: block;
    margin: 50px auto;
  }
}

footer {
  opacity: 0.7;
  text-align: center;
  font-size: 16px;
  padding-top: 40px;
}

datalist {
  position: relative;
  background-color: inherit;
  border: 2px solid light-dark(var(--black), var(--white));
  border-radius: 0 0 8px 8px;
  border-top: none;
  padding: 5px;
  max-height: 50vh;
  overflow-y: auto;
  width: calc(100% - 50px - 20px + 6px);
}

option {
  background-color: inherit;
  padding: 4px;
  color: inherit;
  margin-bottom: 1px;
  font-size: 18px;
  cursor: pointer;
}

option:hover, option.active{
  background-color: light-dark(var(--dark-white), var(--light-black));
}

summary {
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

details {
  padding: 0 0 25px;
}

table {
  width: calc(100% - 10px);
  margin: 10px auto 20px 10px;
  border: 2px solid light-dark(var(--black), var(--white));
  font-size: 15px;
}

table, th, td {
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid light-dark(var(--black), var(--white));
}

th, td {
  text-align: center;
  padding: 0 5px;
}

tr.green, .llm-legend .green {
  background-color: color-mix(in srgb, var(--green), transparent 70%);
}

tr.yellow, .llm-legend .yellow {
  background-color: color-mix(in srgb, var(--yellow), transparent 80%);
}

tr.red, .llm-legend .red {
  background-color: color-mix(in srgb, var(--red), transparent 80%);
}

.acr-title {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 500;
}

.acr-info {
  font-size: 13px;
  line-height: 1.5;
  display: block;
  padding: 0 0 5px 0;
}

#acr-info-block {
  display: none;
}

#acr-info-block.active {
  display: block;
}

.llm-legend {
  list-style: none;
  display: block;
  padding-inline-start: 10px;
  margin: 0 0 25px 0;
}

label.llm-legend-title {
  font-size: 14px;
  opacity: 1;
  font-weight: 500;
  display: block;
  padding: 0;
  margin: 0 0 5px 0;
}

.llm-legend li {
  font-size: 14px;
}

.llm-legend span {
  border: 1.5px solid light-dark(var(--black), var(--white));
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 6px 0 0;
  transform: translateY(3px);
}

#countdown {
  padding: 40px 60px;
  border: 0px solid transparent;
}

#timer {
  text-align: right;
  display: block;
  width: 100%;
  opacity: 0.8;
  font-size: 13px;
}
