<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LLMs for Imaging Study Ordering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/global.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <script src="https://use.fontawesome.com/cefbebdc70.js"></script>
  </head>

  <body>
    <main>
      <div>
        <form action="/api/v1/submit" method="POST">
          <input type="submit" class="submit" id="submit" value="Submit My Answers" />
          <input type="text" name="uid" id="uid" value="{{ uid }}" style="display:none !important" tabindex="-1" autocomplete="off" />
          {% for q in questions %}
            <div id="Q{{ loop.index }}-box" class="question">
              <label>Case {{ loop.index }} / {{ questions | length }}</label>
              <h3>{{ q }}</h3>
              <p>What imaging study would you order for this patient? If no imaging is indicated, select "None".</p>
              <input type="text" name="Q{{ loop.index }}" id="Q{{ loop.index }}" autocomplete="off", placeholder="Your Answer Here" list="" />
            </div>
          {% endfor %}
        </form>

        <datalist id="imaging_studies" role="listbox">
          {% for imaging_study in options %}
            <option value="{{ imaging_study }}">{{ imaging_study }}</option>
          {% endfor %}
        </datalist>

        <button class="nav" id="back"><i class="fa fa-angle-left"></i>&emsp;Previous Case</button>
        <button class="nav" id="next">Next Case&emsp;<i class="fa fa-angle-right"></i></button>
      </div>
      <div>
        <p class="acr-title"><a href="https://www.acr.org/Clinical-Resources/ACR-Appropriateness-Criteria" target="_blank">ACR Appropriateness Criteria</a></p>
        <label class="acr-info"><i class="fa fa-info-circle" style="padding: 0 5px 0 0;margin: 0;"></i> A large language model (LLM) has identified the following 3 ACR Appropriateness Criteria topics that may describe the patient's presentation. The topics are listed from <em>most</em> to <em>least</em> relevant according to the LLM. Click on a topic to see the evidence-based imaging recommendations from the ACR for each of the topics.</label>
        <label class="llm-legend-title">Legend</label>
        <ul class="llm-legend">
          <li><span class="green"></span> Usually appropriate</li>
          <li><span class="yellow"></span> May be appropriate</li>
          <li><span class="red"></span> Usually not appropriate</li>
          <li><span class="gray"></span> Disputed/Insufficient Evidence</li>
        </ul>

    {% for rec in guidelines %}
      {% set outer_loop = loop %}
      {% for data in rec %}
        <details id="guidelines-Q{{ outer_loop.index }}-T{{ loop.index }}">
          <summary>{{ data["Topic"] }}</summary>
          <table>
            <tr>
              <th>Imaging Study</th>
              <th>Radiation</th>
            </tr>
            {% for row in data["Table"] %}
              <tr class="{{ row['Category'] }}">
                <td>{{ row["Procedure"] }}</td>
                <td>{{ row["Radiation"] }}</td>
              </tr>
            {% endfor %}
          </table>
        </details>
      {% endfor %}
    {% endfor %}
    <footer>&copy;2024 <a href="https://trustml.github.io/" target="_blank">trustML@Penn</a>. All rights reserved.</footer>
      </div>
    </main>
    <script src="{{ url_for('static', filename='styles/js/qa.js') }}"></script>
  </body>
</html>
