<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LLMs for Imaging Study Ordering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/global.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
  </head>

  <body>
    <main>
      <div style="border-width: 0px;">
        <p style="margin: 50px auto;text-align: center;max-width: 800px;">
  	  Thank you for participating in this study! Please contact Michael Yao at <a href="mailto:michael.yao@pennmedicine.upenn.edu">michael.yao@pennmedicine.upenn.edu</a> if you have any follow-up questions or comments. You may now safely close this tab.
	</p>
      </div>
    </main>
  </body>
</html>
